@media print {

  header,
  nav,
  footer {
    display: none;
  }

  body {
    margin: 0;
    background: none;
  }

  .cv {
    display: block; 
    min-height: auto;
  }

  .cv-col {
    background: none !important;
    padding: 0.5rem 0;
  }

  .cv-col--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-align: left;
  }

  .cv-col-left img {
    width: 100px;
  }

  .skills li {
    border-bottom: 1px solid #ccc;
  }

  .skills-level {
    color: black;
    font-weight: bold;
  }

  * {
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body{
    font-size: small;
  }

  a {
    text-decoration: none;
  }

  a[href^="mailto:"]::after,
  a[href^="tel:"]::after {
    content: "";
  }

  @page {
    margin: 1.5cm;
  }
}